<ion-view>

    <ion-nav-bar class="bar-balanced" align-title="center">
        <ion-nav-back-button>
        </ion-nav-back-button>

    </ion-nav-bar>
    <ion-content class="full-background" scroll="false">


        <ion-slide-box>
            <ion-slide>
                <div class="box demoText">
                    <div class="row main-logo-row" style="position: relative; top: 0px;">
                        <div class="col">
                            <h1 class="main-heading"><span>Mo</span><span>Bio</span></h1>
                        </div>
                    </div>
                    {{ 'DEMO_HOME'| translate}}
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box demoText">
                    {{ 'DEMO_SETTINGS'| translate}}
                </div>
                <img src="img/demoTour/settings.png" alt="" class="demoImg" />
            </ion-slide>
            <ion-slide>
                <div class="box demoText">
                    {{ 'DEMO_LOGIN'| translate }}
                </div>
                <img src="img/demoTour/login.png" alt="" class="demoImg" />                
            </ion-slide>
            <ion-slide>
                <div class="box demoText">
                    {{ 'DEMO_PROFILES'| translate }}
                </div>
                <img src="img/demoTour/profiles.png" alt="" class="demoImg" />                
            </ion-slide>
            <ion-slide>
                <div class="box demoText">
                    {{ 'DEMO_EXPERIMENTS'| translate }}
                </div>
                <img src="img/demoTour/experiments.png" alt="" class="demoImg" />
            </ion-slide>            
            <ion-slide>
                <div class="box demoText">
                    {{ 'DEMO_ACTIVITIES'| translate }}
                </div>
                <img src="img/demoTour/activities.png" alt="" class="demoImg" />
            </ion-slide>
            <ion-slide>
                <div class="box demoText">
                    {{ 'DEMO_SENSOR'| translate }}
                </div>
                <img src="img/demoTour/sensor.png" alt="" class="demoImg" />
            </ion-slide>
            <ion-slide>
                <div class="box demoText">
                    {{ 'DEMO_TRACKING'| translate }}
                </div>
                <img src="img/demoTour/tracking.png" alt="" class="demoImg" />
            </ion-slide>            
            <ion-slide>
                <div class="box demoText">
                    {{ 'DEMO_ANALYSIS'| translate }}
                </div>
                <img src="img/demoTour/analysis.png" alt="" class="demoImg" />
            </ion-slide>
            <ion-slide>
                <div class="box demoText">
                    {{ 'DEMO_UPLOAD'| translate }}
                </div>
                <img src="img/demoTour/upload.png" alt="" class="demoImg" />
            </ion-slide>
            <ion-slide>
                <div class="box demoText">
                    <div class="row main-logo-row" style="position: relative; top: 0px;">
                        <div class="col">
                            <h1 class="main-heading"><span>Mo</span><span>Bio</span></h1>
                        </div>
                    </div>
                    <div>
                        {{ 'DEMO_END'| translate}}
                    </div>
                    
                    <a class="button button-small button-balanced" ng-href="#/home">
                        {{'HOME' | translate}}
                    </a>
                </div>
            </ion-slide>

        </ion-slide-box>


    </ion-content>
</ion-view>
