<ion-view view-title="Login" class="vertical-center">
    <ion-content class="full-background" scroll="true" padding="true" scrollbar-y="false">
        <div class="row main-logo-row">
            <div class="col">
                <h1 class="main-heading"><span>Mo</span><span>Bio</span></h1>
            </div>
        </div>
        <div class="row" style="padding: 0 10%;">
            <div class="col">
                <!--                <a class="button button-block button-balanced button-small" ng-href="#/profiles/new" ng-disabled="!auth.profile.nickname">
                                    {{'CREATE_PROFILE'| translate}}
                                </a>   -->
                <a class="button button-block button-calm button-small" ng-click="login()" ng-disabled="data.disableLogin">
                    {{'LOGIN'| translate}}
                </a>
                <a class="button button-block button-positive button-small" ng-href="#/profiles/list" ng-disabled="!data.userInfo.name">
                    {{'SELECT_PROFILE'| translate}}
                </a> 
                <a class="button button-block button-assertive button-small" ng-href="#/settings">
                    {{'SETTINGS'| translate}}
                </a> 
                <a class="button button-block button-balanced button-small" ng-href="#/demo-tour">
                    {{'APP_SAMPLE'| translate}}
                </a>
            </div>
        </div>

        <div style="position: absolute; bottom: 0px; left: 10px; color: #333; font-size: 10px">
            1.3.0 
            <span ng-if="data.userInfo.name">
                , User: {{data.userInfo.name}}
            </span>
        </div>

    </ion-content>
</ion-view>

