<ion-view view-title="Settings">
    <ion-nav-bar class="bar-assertive" align-title="center">
        <!--        <ion-nav-buttons side="left">
                    
                </ion-nav-buttons>-->
        <ion-nav-back-button>
        </ion-nav-back-button>

    </ion-nav-bar>
    <ion-content padding="true">
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label has-input">EEGbase REST URL</span>
                <input type="text" placeholder="EEGbase REST URL" ng-model="data.restUrl">
            </label>
        </div>


    </ion-content>
    <div class="bar bar-footer" style="margin-bottom: 10px">
        <button class="button button-full button-assertive" ng-click="updateSettings()">
            Save
        </button>
    </div>
</ion-view>
