<ion-view cache-view="false">
    <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-title style="font-size: 12px">
            <span ng-if="data.deviceStateChange.name">{{(data.deviceStateChange.name + ': ' + data.deviceStateChange.state)}}</span>
            <span ng-if="!data.deviceStateChange.name">Weight Scale</span>            
        </ion-nav-title>
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="button button-clear" ng-click="buttonListenClick()" ng-disabled="!data.selectedDevice.antDeviceNumber">
                <span ng-show="!data.subscribed">Listen</span>
                <span ng-show="data.subscribed">Stop</span>                
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-tabs tabs-type="tabs-icon-only">       
        <ion-tab title="Device List" icon-on="ion-ios-search-strong" icon-off="ion-ios-search">
            <ion-content class="padding" style="padding-top: 45px">
                <button class="button button-calm button-block button-small" ng-hide="spinner.show" ng-click="buttonStartSearchClick()">
                    Start search 
                </button>
                <button class="button button-calm button-block button-small" ng-show="spinner.show" ng-click="buttonStopSearchClick()">
                    Stop search 
                </button>    
                <div class="row" ng-show="spinner.show">
                    <div class="col text-center">
                        <ion-spinner icon="android"></ion-spinner>
                    </div>
                </div>                
                <div class="list">
                    <label class="item item-radio" ng-repeat="dev in data.discovered">
                        <input type="radio" name="group" ng-model="data.selectedDevice" ng-value="dev">
                        <div class="item-content">
                            {{dev.deviceDisplayName}} - {{dev.antDeviceType}}
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                </div>
            </ion-content>
        </ion-tab>

        <ion-tab title="Statistics" icon-on="ion-ios-list-outline" icon-off="ion-ios-list-outline">
            <ion-content class="padding" style="padding-top: 45px">

                <div class="row">
                    <div class="col col-80"><h3>odML Data Checks</h3></div>
                    <div class="col col-20 text-center">
                        <ion-spinner icon="android" ng-if="data.subscribed"></ion-spinner>
                    </div>
                </div>
                <ul class="list">                                            
                    <li class="item-content" ng-repeat="section in odMLData.odML.section">
                        <div class="row">
                            <div class="col col-80">{{section.name}}</div>
                            <div class="col col-20 text-center">
                                <span class="icon ion-record text-center red" style="font-size: 24px" ng-if="section.property[0].value.content == 0 || section.property[0].value.content == ''"></span>
                                <span class="icon ion-record text-center green" style="font-size: 24px" ng-if="section.property[0].value.content != 0 && section.property[0].value.content != ''"></span>
                            </div>
                        </div>
                    </li>                   
                </ul>

                <div class="row">
                    <div class="col">  
                        <h4>Request Measurement</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">                        
                        <div class="button-bar">
                            <a class="button button-small button-calm" ng-click="requestBasicWGT()" ng-disabled="!data.subscribed || data.deviceStateChange.state != 'TRACKING'">Basic</a>
                            <a class="button button-small button-balanced" ng-click="requestAdvancedWGT()" ng-disabled="!data.subscribed || data.deviceStateChange.state != 'TRACKING'">Advanced</a>
                        </div>
                    </div>
                </div>
<!--                <div class="row">
                    <div class="col">
                        <h4>Calculated BMI</h4>
                    </div>
                </div>-->
            </ion-content>
        </ion-tab>

        <ion-tab title="Weight Scale" icon-on="ion-ios-cloud-upload" icon-off="ion-ios-cloud-upload-outline">
            <ion-content style="padding-top: 50px" scroll="true">
                <div class="row">
                    <div class="col">
                        <h5>Selected Experiment ID: {{global.selectedExperiment.experimentId}}</h5>
                        <h5>Selected Profile: {{global.selectedProfile.profileName}}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">                        
                        <button class="button button-block button-positive icon-right ion-ios-cloud-upload-outline" ng-click="uploadMeasurement()">
                            Upload Measurement to EEGBase
                        </button>
                        <ion-spinner icon="lines" ng-if="showUploadSpinner"></ion-spinner>
                    </div>
                </div>                
            </ion-content>
        </ion-tab>
    </ion-tabs>
    <!--    <ion-content>
            
        </ion-content>-->
</ion-view>
