<ion-view view-title="Stored Profiles" cache-view="true">
    <ion-nav-bar class="bar-positive" align-title="center">

        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <a class="button button-icon button-clear ion-person-add" ng-href="#/profiles/new">
            </a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scroll="true">
        <div class="row">                    
            <div class="col">
                <button class="button button-full button-positive button-outline button-small" ng-repeat="profile in global.profileList" ng-click="setSelectedProfile(profile)">
                    {{profile.profileName}}
                </button>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-positive">
        <div class="title">Selected: {{getSelectedProfile().profileName}}</div>
        
        <a class="button button-icon button-clear ion-edit button-small" ng-href="#/profiles/edit/{{getSelectedProfile().id}}" ng-disabled="!getSelectedProfile()">
            </a>
    </div>
</ion-view>
