<ion-view view-title="New Profile">
    <ion-nav-bar class="bar-balanced" align-title="center">

        <ion-nav-back-button>
        </ion-nav-back-button>

        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" scroll="true" overflow-scroll="true" class="has-footer" style="margin-bottom: 10px">
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Profile Name</span>
                <input type="text" placeholder="Profile Name" ng-value="">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="email" placeholder="Email" ng-value="">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Name" ng-value="">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Surname</span>
                <input type="text" placeholder="Surname" ng-value="">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label has-input">Birthday</span>
                <input type="date" placeholder="Birthday" ng-value="">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Sex
                </div>
                <select>
                    <option selected>Male</option>
                    <option>Female</option>
                </select>
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Height</span>
                <input type="text" placeholder="Height" ng-value="">
            </label>            
            <div class="item range range-balanced">
                <div class="input-label has-input">Activity Level: {{activityLevel || 2}}</div>
                <i class="icon ion-ios-body-outline"></i>
                <input type="range" name="activityLevel" min="1" max="6" ng-model="activityLevel">
                <i class="icon ion-ios-body"></i>
            </div>
            <ul class="list">
                <li class="item item-checkbox">
                    Lifetime Athlete
                    <label class="checkbox checkbox-balanced">
                        <input type="checkbox" ng-model="lifetimeAthlete">
                    </label>
                    
                </li>
            </ul>
        </div>


    </ion-content>
    <div class="bar bar-footer" style="margin-bottom: 10px">
        <button class="button button-full button-balanced">
            Add Profile
        </button>
    </div>
</ion-view>
