<ion-view cache-view="false">
    <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-title style="font-size: 12px">
            <span ng-if="data.deviceStateChange.name">{{(data.deviceStateChange.name + ': ' + data.deviceStateChange.state)}}</span>
            <span ng-if="!data.deviceStateChange.name">Stride SDM</span>            
        </ion-nav-title>
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="button button-clear" ng-click="buttonListenClick()" ng-disabled="!data.selectedDevice.antDeviceNumber">
                <span ng-show="!data.subscribed">Listen</span>
                <span ng-show="data.subscribed">Stop</span>                
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-tabs tabs-type="tabs-icon-only">
        <ion-tab title="Device List" icon-on="ion-ios-search-strong" icon-off="ion-ios-search">
            <ion-content class="padding" style="padding-top: 45px">
                <button class="button button-calm button-block button-small" ng-hide="spinner.show" ng-click="buttonStartSearchClick()">
                    Start search 
                </button>
                <button class="button button-calm button-block button-small" ng-show="spinner.show" ng-click="buttonStopSearchClick()">
                    Stop search 
                </button>    
                <div class="row" ng-show="spinner.show">
                    <div class="col text-center">
                        <ion-spinner icon="android"></ion-spinner>
                    </div>
                </div>                
                <div class="list">
                    <label class="item item-radio" ng-repeat="dev in data.discovered">
                        <input type="radio" name="group" ng-model="data.selectedDevice" ng-value="dev">
                        <div class="item-content">
                            {{dev.deviceDisplayName}} - {{dev.antDeviceType}}
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                </div>
            </ion-content>
        </ion-tab>
        
        <ion-tab title="Statistics" icon-on="ion-ios-list-outline" icon-off="ion-ios-list-outline">
            <ion-content class="padding" style="padding-top: 45px">
<!--                <textarea rows="20" cols="50">{{odMLData}}</textarea>
                <hr>
                Instantaneous Speed: {{data.instantaneousSpeedData.instantaneousSpeed}}
                <br>
                Instantaneous Cadence: {{data.instantaneousCadenceData.instantaneousCadence}}
                <br>
                Cumulative Distance: {{data.cumulativeDistanceData.cumulativeDistance}}
                <br>
                Cumulative Strides: {{data.strideCountData.cumulativeStrides}}                
                <br>
                Computation Timestamp: {{data.computationTimestampData.timestampOfLastComputation}}
                <br>
                Sensor Location: {{data.sensorStatusData.sensorLocation}}
                <br>
                Battery Status: {{data.sensorStatusData.batteryStatus}}
                <br>
                Sensor Health: {{data.sensorStatusData.sensorHealth}}
                <br>
                Use State: {{data.sensorStatusData.useState}}
                <br>
                Cumulative Calories: {{data.calorieData.cumulativeCalories}}
                <br>
                Hardware Revision: {{data.manufacturerIdentificationData.hardwareRevision}}
                <br>
                Manufacturer ID: {{data.manufacturerIdentificationData.manufacturerID}}
                <br>
                Model Number: {{data.manufacturerIdentificationData.modelNumber}}                
                <br>
                Main Software Revision: {{data.productInformationData.mainSoftwareRevision}}
                <br>
                Supplemental Software Revision: {{data.productInformationData.supplementalSoftwareRevision}}
                <br>
                Serial Number: {{data.productInformationData.serialNumber}}
                <br>
                Manufacturer Specific Data: {{data.manufacturerSpecificData.hexString}}-->
                
                <div class="row">
                    <div class="col col-80"><h3>odML Data Checks</h3></div>
                    <div class="col col-20 text-center">
                        <ion-spinner icon="android" ng-if="data.subscribed"></ion-spinner>
                    </div>
                </div>
                <ul class="list">                                            
                    <li class="item-content" ng-repeat="section in odMLData.odML.section">
                        <div class="row">
                            <div class="col col-80">{{section.name}}</div>
                            <div class="col col-20 text-center">
                                <div ng-if="section.property">
                                    <span class="icon ion-record text-center red" style="font-size: 24px" ng-if="section.property[0].value.content == 0 || section.property[0].value.content == ''"></span>
                                    <span class="icon ion-record text-center green" style="font-size: 24px" ng-if="section.property[0].value.content != 0 && section.property[0].value.content != ''"></span>
                                </div>
                                <div ng-if="section.section">
                                    <span class="icon ion-record text-center red" style="font-size: 24px" ng-if="section.section.length == 0"></span>
                                    <span class="icon ion-record text-center green" style="font-size: 24px" ng-if="section.section.length > 0"></span>
                                </div>
                            </div>
                        </div>
                    </li>                   
                </ul>
            </ion-content>
        </ion-tab>

        <ion-tab title="Upload OdML" icon-on="ion-ios-cloud-upload" icon-off="ion-ios-cloud-upload-outline">
            <ion-content style="padding-top: 50px" scroll="true">
                <div class="row">
                    <div class="col">
                        <h5>Selected Experiment ID: {{global.selectedExperiment.experimentId}}</h5>
                        <h5>Selected Profile: {{global.selectedProfile.profileName}}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">                        
                        <button class="button button-block button-positive icon-right ion-ios-cloud-upload-outline" ng-click="uploadMeasurement()">
                            Upload Measurement to EEGBase
                        </button>
                        <ion-spinner icon="lines" ng-if="showUploadSpinner"></ion-spinner>
                    </div>
                </div>                
            </ion-content>
        </ion-tab>
        
    </ion-tabs>
    <!--    <ion-content>
            
        </ion-content>-->
</ion-view>
