<ion-view cache-view="false">
    <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-title style="font-size: 12px">Blood Pressure</ion-nav-title>
        <ion-nav-back-button>
        </ion-nav-back-button>        
    </ion-nav-bar>


    <ion-tabs tabs-type="tabs-icon-only">
        <ion-tab title="Device List" icon-on="ion-ios-search-strong" icon-off="ion-ios-search">
            <ion-content class="padding" style="padding-top: 50px">                
                <div class="list">
                    <label class="item item-radio" ng-repeat="dev in data.discovered">
                        <input type="radio" name="group" ng-model="data.selectedDevice" ng-value="dev">
                        <div class="item-content">
                            {{dev.name}}
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                </div>
            </ion-content>
        </ion-tab>

        <ion-tab title="Blood Pressure Monitor" icon-on="ion-ios-heart" icon-off="ion-ios-heart">
            <ion-content style="padding-top: 50px" scroll="true">
                <div class="row" style="height: 250px">
                    <div class="col text-center">
                        <tm8-donut donut-percentage="data.lastBPM"
                                   donut-width="15" 
                                   donut-text-y="8%" 
                                   donut-class="donutBP"
                                   wrapper-class="donutWrapperBP"
                                   odometer-value="false"
                                   static-content-url="templates/directives/bpm.html"
                                   >                       
                        </tm8-donut>
                    </div>
                </div>
                <div class="row" style="margin-bottom: -15px;">
                    <div class="col">
                    <h4>Load Measurements</h4>
                    </div>
                </div>
                <div class="row">                    
                    <div class="col text-center">
                        <div class="button-bar">
                            <a class="button button-small button-calm" ng-click="loadData(true)" ng-disabled="data.subscribed">Latest</a>
                            <a class="button button-small button-balanced" ng-click="loadData(false)" ng-disabled="data.subscribed">All</a>
                            <a class="button button-small button-assertive" ng-click="resetData()" ng-disabled="data.subscribed">Reset</a>
                        </div>
                    </div>
                </div> 
                <div class="row">
                    <div class="col col-80"><h4 style="margin: 0;">odML Data Checks</h4></div>
                    <div class="col col-20 text-center">
                        <ion-spinner icon="android" ng-if="data.subscribed"></ion-spinner>
                    </div>
                </div>
                <ul class="list">                                            
                    <li class="item-content" ng-repeat="section in data.odMLData.odML.section">
                        <div class="row">
                            <div class="col col-80">{{section.name}}</div>
                            <div class="col col-20 text-center">
                                <div ng-if="section.property">
                                    <span class="icon ion-record text-center red" style="font-size: 24px" ng-if="section.property[0].value.content == 0 || section.property[0].value.content == ''"></span>
                                    <span class="icon ion-record text-center green" style="font-size: 24px" ng-if="section.property[0].value.content != 0 && section.property[0].value.content != ''"></span>
                                </div>
                                <div ng-if="section.section">
                                    <span class="icon ion-record text-center red" style="font-size: 24px" ng-if="section.section.length == 0"></span>
                                    <span class="icon ion-record text-center green" style="font-size: 24px" ng-if="section.section.length > 0"></span>
                                </div>
                            </div>
                        </div>
                    </li>                   
                </ul>
                
            </ion-content>
        </ion-tab>

        <ion-tab title="Statistics" icon-on="ion-ios-list-outline" icon-off="ion-ios-list-outline">
            <ion-content class="padding" style="padding-top: 45px">
                <h4>odML Data Log</h4>
                <textarea rows="20" cols="50">{{data.odMLData}}</textarea>
            </ion-content>
        </ion-tab>
    </ion-tabs>
</ion-view>
