body, .ionic-body {
    font-family: "Segoe UI Semilight", "Helvetica Neue",  sans-serif !important; 
}

a {
    text-decoration: none;
}

div.scroll.padding {
    -webkit-transform: initial !important; 
}

.main-heading {
    font-size: 60px;    
    /*text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;  */
}
.main-heading span:first-child{
    color: #333;
}

.main-heading span:last-child{
    color: #0c63ee;
}


.main-logo-row {
    position: absolute;
    top: 30px;
    width: 100%;
    left: 0px;
    padding: 8% 12%;
}

.responsive-img {
    width: 100%;
    height: auto;
}

.vertical-center .scroll-content {
    display: table !important;
    width: 100% !important;
    height: 100% !important;
    margin-top: 0px !important;
}
.vertical-center .scroll {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.axis path {
    fill: none;
    stroke: #bbb;
    shape-rendering: crispEdges;
}

.axis text {
    fill: #555;
}

.axis line {	
    stroke: #e7e7e7;
    shape-rendering: crispEdges;
}

.axis .axis-label {
    font-size: 10px;
}

.line {
    fill: none;
    stroke-width: 1.5px;
}

.dot {
    /* consider the stroke-with the mouse detect radius? */
    stroke: transparent;
    stroke-width: 10px;  
    cursor: pointer;
}

.dot:hover {
    stroke: rgba(68, 127, 255, 0.3);
}

/* donut  directive css */
.donut-wrapper.circle-responsive {    
    border-radius: 50%;
    height: 0;
    position: relative;

    background: #fff;
    width: 70%;
    padding-bottom: 70%;    
    left: 15%;
    top: 25%;
    -webkit-box-shadow:inset 0px 0px 0px 15px #c0c0c0;
}

.donut-wrapper .circle-responsive-shadow {
    background: transparent;
    border-radius: 50%;
    height: 0;
    padding-bottom: 100%;
    width: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.donut text {
    font-size: 4rem;
    fill: #000000;
}

.donut path.color0 {
    fill: #00aeef;
}

.donut path.color1 {
    fill: #c0c0c0;
}

.donut path.color0_green {
    fill: #0ca500;
}

.donut path.color0_yellow {
    fill: #ffea00;
}

.donut path.color0_orange {
    fill: #ff890b;
}

.donut path.color0_red {
    fill: #e60000;
}

/* donut  directive css  end */


.wrapping-list .item-content, .wrapping-list .item, .wrapping-list .item p{
    overflow: initial;
    white-space: initial;
}

.red {
    color: #e60000;
}

.amber {
    color: #ff890b;
}

.green {
    color: #0ca500;
}

.disabled a{
    background-color: #D9D9D9 !important;
}

.rowHrMarked {
    background-color: #2FEF20;
}

.rowHyperMarked1 {
    background-color: #2FEF20;
}

.rowHyperMarked2 {
    background-color: #FFE000;
}

.rowHyperMarked3 {
    background-color: #FF8B00;
}

.rowHyperMarked4 {
    background-color: #FF0E0E;
}

.bar .title {
    font-size: 12px !important;
}